<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.analytics.bjj"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".AnalyticsApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.analytics.bjj.MainActivity"
            android:label="@string/app_name" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.analytics.bjj.AddTourney"
            android:label="@string/title_activity_add_tourney"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.analytics.bjj.AddTech"
            android:label="@string/title_activity_add_tech" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.analytics.bjj.ViewTourn"
            android:label="@string/title_activity_view_tourn" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.analytics.bjj.ViewTech"
            android:label="@string/title_activity_view_tech" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.analytics.bjj.EditTech"
            android:label="@string/title_activity_edit_tech" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.analytics.bjj.AddWeight"
            android:label="@string/title_activity_add_weight" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.analytics.bjj.AddTime"
            android:label="@string/title_activity_add_time" android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.analytics.bjj.AddDrill"
            android:label="@string/title_activity_add_drill" android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.analytics.bjj.EditDrill"
            android:label="@string/title_activity_edit_drill" android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.analytics.bjj.EditTourn"
            android:label="@string/title_activity_edit_tourn" android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.analytics.bjj.DeleteWeight"
            android:label="@string/title_activity_delete_weight" android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.analytics.bjj.LoginActivity"
            android:label="@string/title_activity_login" android:screenOrientation="portrait" >
        </activity>


        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

        <!--<activity-->
            <!--android:name=".ItemListActivity"-->
            <!--android:label="@string/title_item_list" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".ItemDetailActivity"-->
            <!--android:label="@string/title_item_detail"-->
            <!--android:parentActivityName=".ItemListActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.analytics.bjj.ItemListActivity" />-->
        <!--</activity>-->
    </application>

</manifest>
